<div id="comment-<%= comment.id %>">
    <div class="comment-image">
        <%= image_tag comment.user.avatar.url, class: 'img-cir-comment' %>
    </div>
    <div class="comment-body">
        <div class="comment-info">
        <%= link_to comment.user.username, comment.user %></h5></div>
        <%= linked_users(comment.body) %>
    </div>
    <% if current_user == comment.user || current_user = @post.user %>
        <%= link_to material_icon.clear, post_comment_path(@post, comment), method: :delete, remote: true, style: 'float: right' %>
    <% end %>
</div>