<title>Raaita | <%= @user.username %></title>
<main>
	<div class="container">
		<div class="profile">
			<div class="profile-image">
				<%= image_tag(@user.avatar.url) %>
			</div>
			<div class="profile-user-settings">
				<h1 class="profile-user-name"><%= @user.username %></h1>
				<% if @user.id == current_user.id %>
					<button class="btn profile-edit-btn"><%= link_to "Edit Profile",edit_user_registration_path(@user) %></button>
				<% else %>
					<button class="btn profile-edit-btn"><%= render 'follows/form', user: @user %></button>
				<% end %>
			</div>
			<div class="profile-stats">
				<ul>
					<li><span class="profile-stat-count"><%= @user.posts.count %></span> stories</li>
					<% if @user.id == current_user.id %>
					<li><span class="profile-stat-count"><%= link_to @user.followers_count, following_user_path %></span>following</li>
					<% end %>
					<li><span class="profile-stat-count"><%= @user.followers_count %></span> reading</li>
				</ul>
			</div>
			<div class="profile-bio">
				<% if @user.first_name == nil && @user.last_name == nil && @user.about == nil %>
				<% if @user.id == current_user.id %>
					<p><span class="profile-real-name"><%= link_to "Tell us your info", edit_user_registration_path(@user) %></span>️</p>
				<% end %>
				  <p><span class="profile-real-name"><strong>NO info given</strong></span>️</p>
				<% end %>
				<% if @user.last_name == nil && @user.about == nil  %>
					<% if @user.id == current_user.id %>
				    	<p><span class="profile-real-name"><%= @user.first_name %></span><%= link_to "Tell about yourself", edit_user_registration_path(@user) %>️</p>
				  	<% end %>
				  	<p><span class="profile-real-name"><%= @user.first_name %></span><%= @user.about %></p>
				<% end %>
				<% if @user.about == nil %>
          			<p><span class="profile-real-name"><%= @user.first_name%> <%= @user.last_name %></span>️</p>
        		<% end %>
        		<% if @user.first_name != nil && @user.last_name != nil && @user.about != nil %>
          			<p><span class="profile-real-name"><%= @user.first_name%> <%=@user.last_name%></span><%= @user.about %></p>
        		<% end %>
			</div>
		</div>
	</div>
	<div class="gallery">
		<% if @user.posts.count == 0 %>
			No Stories yet
		<% else %>
			<% @user.posts.each do |post| %>
				<div class="gallery-item">
					<%= image_tag post.images[0] %> 
				</div>
			<% end %>
		<% end %>
	</div>
</main>
