  <h2>Following Stories</h2>
  <h2><%= params[:category] %></h>
  <% @posts.each do |post| %>
    <div class ="box">
      <div class="chip"><%= time_ago_in_words(post.created_at)%> ago</div>
      <%= link_to image_tag(post.images[0]), post %>
      <br>
      <div class="row valign-wrapper">
        <div class="col s2">
          <%= link_to image_tag(post.user.avatar.url), post.user ,class: "circle responsive-img" %> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            <h6><b><%= link_to post.description.truncate(60).html_safe, post %></b></h6>
          </span>
        </div>
      </div>
    </div>
  <% end %>
